.Rproj.user
.Rhistory
.RData
.Ruserdata
BES2017_W13Strings_v1_0.rds
CBP7327.xlsx
Bes_wave13Documentation_V1.0.pdf
bes13.rds
ge_labour_regression.html
eu_regression.html
ge_vote_labour_disability.tex
p_eu_vote_disab.png
p_turnout_disab_2017.png
x_labour_deprivation.R
p_vote_disab_2017.png
x_scratchpad.R
